<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MobenasaniTeste.Properties.Settings.SBO_VALIDACAO_MBConnectionString"
            connectionString="Driver={HDBODBC32};servernode=XXX.XXX.X.XXX:XXXXX;database=XXXXXXXX;uid=XXXXXXXX;pwd=XXXXXXX"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>